<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="name">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="email">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="birthday">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="address">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="number">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="password">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
